.table-container{
    padding: 0.5rem 0.5rem; 
    max-width: 80%; 
    margin: auto; 
}
.table-container>:nth-child(1)
{
    border-radius: 10px!important;
    overflow: hidden!important;;
}
.MuiTableRow-root, .MuiTableCell-root{
    border: none!important;
}